NET "i_input_1" LOC = C17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "i_input_2" LOC = C18  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_and"     LOC = P15  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET "o_or"      LOC = P16  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_xor"     LOC = N15  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_nand"    LOC = N16  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_nor"     LOC = U17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_xnor"    LOC = U18  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_not_1"   LOC = T17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "o_not_2"   LOC = T18  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;